.box {
    background: #00009c;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 10px;
}

.box-2 {
    background: #ff0000;
}

.box-3 {
    background: #ff0f;
}

#p {
    display: inline
}

/*
-BLOCK (padrão)
-INLINE
-INLINE-BLOCK

BLOCK:
    Vem como padrão: div, section, p, h1, h2, ul, li, article

    -Ocupa 100% da largura do elemento pai
    -sempre ocupa toda a sua linha
    -Altura definida de acordo com o conteúdo
    -Podemos definir heigth e width
    -Podemos definir valores de margin

INLINE:
    Vem como padrão a, span, b, i...

    -Elementos em linha
    -Não permite alterar height e width
    -Não podemos definir valores de margin top e botom
    -Ganha comportamento de uma palavra

INLINE-BLOCK

    -Elementos em linha, porém, com caracteristicas do display Block
    -Altura e largura podem ser alteradas
*/